<nav class="navbar">
  <div class="links">
  <img class="navbar-logo" src="../../../assets/images/logo.png" alt="brand-logo" aria-label="brand-logo">
  <a>Reservar</a>
  <a>Ofertas y destinos</a>
  </div>
  <div class="currencies">
    <span class="badge bg-primary text-light me-3">Cambio de moneda <i class="bi bi-arrow-bar-right"></i></span>
    <a class="badge bg-info text-dark pointer" (click)="setCurrency('USD')">USD</a>
    <a class="badge bg-info text-dark pointer" (click)="setCurrency('COP')">COP</a>
    <a class="badge bg-info text-dark pointer" (click)="setCurrency('EUR')">EUR</a>
  </div>
</nav>
