.title{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--bs-gray-700);
}

.promotions-container{
  margin: 0 auto;
  width: 90%;

  .promotions{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
